Source: php-imagick
Section: php
Priority: optional
Maintainer: Guillaume Plessis <gui@dotdeb.org>
Build-Depends: debhelper (>= 9),
	       php7.0-dev,
	       dh-php,
	       libmagickwand-6.q16-dev | libmagickwand-dev
Standards-Version: 3.9.6
Homepage: http://pecl.php.net/package/imagick

Package: php7.0-imagick
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Recommends: ghostscript, ttf-dejavu-core
Description: Provides a wrapper to the ImageMagick library
 Imagick is a native php extension to create and modify images using the
 ImageMagick API.
 This extension requires ImageMagick version 6.2.4+ and PHP 5.1.3+.
 .
 IMPORTANT: Version 2.x API is not compatible with earlier versions.
